{% extends 'base.html'%}
{%block title%}{{art.article_name|default_if_none:"暂无信息"}}{%endblock%}
{%block content%}
  <div class="hor-line"></div>
  <div class="article-position">
    <ul>
      <li class="tips">
        <span>当前位置:</span>
      </li>
      <li>
        <a href="../../index">首页</a>
      </li>
      <li class="arrow">
        <span>></span>
      </li>
      <li>
        <a href="../../channel/{{art.channel.id}}">{{art.channel.channel_name}}</a>
      </li>
      <li class="arrow"><span>></span></li>
      <li>
        <a href="#">{{art.article_name|default_if_none:"暂无信息"}}</a>
      </li>
      <div class="clearfix"></div>
    </ul>
  </div>
  <div class="article-main">
    <p class="article-title">
      {{art.article_name}}
      <span class="add-time">{{art.add_date}}</span>
    </p>
    <div class="article-content">
      {{art.article_content|default_if_none:"暂无信息"|safe}}
    </div>
  </div>
{%endblock%}
{%block js%}
   <script type="text/javascript">
    $(document).ready(function(){
    });
   </script
{%endblock%}
